<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Bin2Dec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="form" class="ion-padding">
      <ion-item class="input">
        <ion-label position="floating">Digite um binário</ion-label>
        <ion-input type="text" formControlName="binary" (ionChange)="changeValue()"></ion-input>
      </ion-item>

      <ion-item class="input">
        <ion-label position="fixed">Resultado</ion-label>
        <ion-input type="text" formControlName="result" readOnly></ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title>
      App Ideas/Florin Pop
    </ion-title>
  </ion-toolbar>
</ion-footer>