ion-title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background: var(--ion-color-light);
}

.input {
  margin: 1rem 0;
  width: 100%;
}
